html {
    /*max-width: 350px;*/
    border: 1px solid grey;
    margin: auto;
    
    font-family: 'Courier New', Courier, monospace;
}

th {
    font-weight: normal;
}

body {
    text-align: center;
}
hr {
    border-style: dashed;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

li {
    line-height: 3em;
}

div.infoatas {
    text-align: left;
}

a {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: grey;
}

a:hover {
    color: rebeccapurple;
}

/*
a:link{
    color:darksalmon;
    text-decoration: none;
}

a:active {
    color:aqua;
}
a:visited{
    color:deeppink;
}

a:hover{
    color: orange;
}
*/
