body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:lemonchiffon
}
h1 {
    color:darkviolet;
    text-transform: uppercase;
    text-align: center;
}

li {
    line-height: 3em;
}

div {
    width: 100%;
    background-color:aqua;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
}
div.secondBox {
    background-color:pink;
}
div.thirdBox {
    background-color:greenyellow;
}
div.fourthBox {
    background-color: yellow;
}
/*
a:link{
    color:darksalmon;
    text-decoration: none;
}

a:active {
    color:aqua;
}
a:visited{
    color:deeppink;
}

a:hover{
    color: orange;
}
*/
